@charset "UTF-8";

@media only screen and (min-width:365px) and (max-width: 1023px){

  #section3{
    display: flex;
    flex-direction: column;
    width: 300px;

    padding: 100px 40px;
  }
  #section3 img{
    margin-top: 20px;
    width: 329px;
    height: 278px;
  }
  #section3 article{
    height: 290px;
  }
  .plus{
    margin: 20px 0px;
    display: flex;
    align-items: baseline;  

  }
  .plus i{

    margin-right: 5px;
  }


}


@media only screen and (min-width:1024px) and (max-width: 1439px){

  #section3{
    display: flex;
    flex-direction: column;
    width: 600px;

    padding: 100px 40px;
  }


}
