@charset "UTF-8";

@media only screen and (min-width:365px) and (max-width: 1023px) {

#section1{
  display: grid;
  grid-template-columns: auto ;
    width: 100%;
    padding: 40px;
    color: #ffffff;
  }
  section h1{
    font-size: 2.0em;
  }
  #section1 p{
    margin:10px 0px;
    width: 300px;
  }
  #section1 form input {
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 280px;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 10px;
  }
  #section1 form{
    position: relative;
    height: 100px;
    width: 280px;
  }

  #section1 img{

    display: none;

  }
  .request{
    position: absolute;
    width: 115px;
    top: calc(100% - 55px);
    left: calc(100% - 130px);
    padding-left: 15px;
    border-left: 1px solid black;
    font-weight: bold;
    color: #000;
    cursor: pointer;
  }
  #circle{
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 24
  }

  #watch{
    width: 285px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  #watch p{
    width: 225px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
  }


}

