footer{
    display: grid;
    place-items: center;
    grid-template-columns: 370px auto auto auto;
    justify-content: space-around;
    position: relative;
    width: 100%;
    padding: 140px 40px;
    color: var(--cor0);
    background-color: var(--cor2);
    background-image: url("https://im.ge/i/bg-footer.WdZTzPhttps://im.ge/i/bg-footer.WdzT9X");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  footer article p{
    width: 200px;
  }
  footer div{
    margin: 0;
  }
  footer form{
    position: relative;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  footer input{
    border: none;
    height: 30px;
    width: 220px;
    border-radius: 20px;
    margin: 30px 0;
    padding: 20px;
  }
  footer > form > #circle{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 39%;
    right: calc(100% - 210px);
    background-color: var(--cor2);
    border: none;
    cursor: pointer;
  }
  footer > form > #circle:hover{
      background-color: var(--cor1);
      border: 1px solid var(--cor0);
  }

  #icons{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
  }
  ol{
    list-style-position: inside;
   list-style: none;
  }
  .list{
    margin-top: 30px;
  }

  #copy{
    position: absolute;
    bottom: 2%;
  }

ol{
  margin: 0 !important;
  padding: 0 !important;
}