:root {
    --cor0:#ffffff;
    --cor1: #243f5d;
    --cor2:#56adc8;
    --cor3:#ff9900;
    --cor4:#29282A;
}


#section4{
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: 580px 580px;
  grid-template-rows: 290px 320px;
  column-gap: 50px;
  width: 100%;
  padding: 180px 100px;
  color: var(--cor0);
  background-image: url(/imagens/section4-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: var(--cor2);


}
#section4 p,h3{
  width: 260px;
}
.porcentagem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 265px;

  align-self: center;
  position: relative;
  margin-top: 20px;
}
.porcentagem p{
  font-size: 13px;
  width: 150px;
  margin: 0;
  padding: 0;

}
.porcentagem .number{
  position: absolute;
  top:40%;
  left: calc(100% - 230px);
  font-weight: bolder;
  font-size: 16px;
}
circle{
  width: 100px;
  height: 100px;
  fill: none;
  stroke: var(--cor3);
  stroke-width: 10px;
  stroke-dasharray: 232.2;
}
.white{
  stroke: var(--cor0);
  stroke-dasharray: 193.5;
}
.white1{
  stroke: var(--cor0);
  stroke-dasharray: 217.3;
}
svg{
  position: relative;
  width: 100px;
  height: 100px;
}
#section4 form{
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-row: span 2;
    width: 490px;
    height: 580px;
    padding: 80px 60px;
    background-color: var(--cor0);
    color: var(--cor4);
    align-self: center;
    border-radius: 5px;
  }
  #section4 form input{
    width: 360px;
    height: 50px;
    padding: 10px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 6px rgb(252, 244, 244);
  }
  #section4 form button{
    width: 130px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: var(--cor2);
    margin-top: 30px;
    font-weight: bold;
    color: var(--cor0);
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
  }
#section4 #article1{

    grid-column: 2/3;
    grid-row: 1/2;

}
#section4 #article-circle{
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 2/3;
  grid-row: 2/3;
}
